﻿<style>
div.cpw-ama-mplace-main .ui-state-default, 
div.cpw-ama-mplace-main .ui-widget-content .ui-state-default
{
	background: none;
}
div.cpw-ama-mplace-main .ui-state-active,
div.cpw-ama-mplace-main .ui-widget-content .ui-state-active,
div.cpw-ama-mplace-main .ui-widget-header .ui-state-active
{
	border: 1px solid #c5c5c5;
	font-weight: normal;
	color: #444;
}
div.cpw-ama-mplace-main .ui-state-default a, 
div.cpw-ama-mplace-main .ui-state-default a:link, 
div.cpw-ama-mplace-main .ui-state-default a:visited
{
	color: #444;
}
div.cpw-ama-mplace-main .ui-state-active a, 
div.cpw-ama-mplace-main .ui-state-active a:link, .ui-state-active a:visited
{
	color: #D3242C;
	font-weight: 600;
}
div.cpw-ama-mplace-main ul.ui-widget-header.ui-tabs-nav li.ui-state-active
{
	border-bottom: 3px solid #D3242C;
	margin-bottom: -2px;
}
div.cpw-ama-mplace-main div.ui-tabs.ui-widget.ui-widget-content.ui-corner-all
{
	border: none;
	background: #fff;
	padding: 0;
	max-width: 1300px;
	margin: 0 auto;
}
div.cpw-ama-mplace-main div.ui-tabs.ui-widget.ui-widget-content.ui-corner-all > div
{
	padding: 10px 10px 0;
	border: none;
	background: #fff;
	text-align: left;
}
div.cpw-ama-mplace-main div#cpw-ama-mplace-main-tabs > ul.ui-tabs-nav:before
{
	content: "";
	width: 100%;
	position: absolute;
	bottom: 0;
	border-bottom: 1px solid #fff;
	box-shadow: 1000px 1px 0px 0px #DFDFDF, -1000px 1px 0px 0px #DFDFDF;
}
div.cpw-ama-mplace-main div#cpw-ama-mplace-main-tabs > div.page
{
	min-width: 500px;
}
div.cpw-ama-mplace-main span.user-name
{
	font-weight: 600;
	color: #D3242C;
}
div.cpw-ama-mplace-main div.profile-dropdown
{
	font-weight: 600;
	cursor: pointer;
	position: relative;
	display: inline-block;
}
div.cpw-ama-mplace-main .profile-dropdown .jquery-menu
{
	right: -6px;
}
div.cpw-ama-mplace-main .profile-dropdown .jquery-menu .arrow
{
	right: 2px;
}
div.cpw-ama-mplace-main div.triange-red-icon
{
	margin-left: 5px;
}
</style>
<%
var model= obj.value();
var UserName= (!model || null==model || !model.UserName) ? 'вход' : model.UserName;
%>
<div class="cpw-ama-mplace-main">

	<header>
		<div class="header-container">
			<div class="header-cell">
				<img src="img/pau-logo.png" class="logo" alt="ПАУ" />
				<span class="title-ama">
					Распродажа имущества банкротов
				</span>
			</div>

			<div class="buttons">
				<span class="profile-bar">
					<div class="profile-dropdown">
						<span style="vertical-align: middle;">
							<span>Кабинет:</span> 
							<span class="user-name"><%= UserName %><% if (0) { %>отсутствует<% } %></span>
						</span>
						<div class="triange-red-icon"></div>
						<ul class="jquery-menu">
							<li class="arrow"></li>
							<li class="login">Войти</li>
							<li class="register">Зарегистрировать</li>
						</ul>
					</div>
				</span> 
			</div>
		</div>
	</header>

	<div id="cpw-ama-mplace-main-tabs" <%= obj.tabs_attrs() %> >
		<ul>
			<li><a href="#cpw-ama-mplace-km"  >Конкурсная масса</a></li>
			<li><a href="#cpw-ama-mplace-bdgs">Торги</a></li>
		</ul>
		<div id="cpw-ama-mplace-km" class="page">
			<% if (0) { %>Конкурсная масса<% } %>
			<%= obj.fields_control('КМ') %>
		</div>
		<div id="cpw-ama-mplace-bdgs" class="page">
			<% if (0) { %>Торги<% } %>
			<%= obj.fields_control('Торги') %>
		</div>
	</div>

</div>