<style>
div.cpw-form-test-complex input
{
	border:0;
	border-bottom:1px solid #eeeeee;
	border-left:1px solid #eeeeee;
	padding-left:2px;
	color: #555;
}
div.cpw-form-test-complex button
{
	color: #d0d0d0;
	border:0;
	border:1px solid white;
	background:white;
}
div.cpw-form-test-complex button:hover
{
	color: #555;
	border:1px solid black;
	background:silver;
}
div.cpw-form-test-complex button.add.star.vertical
{
	width: 1.8em;
	letter-spacing: 0px;
	line-height: 1em;
	word-wrap: break-word;
	text-align:center;
}
div.cpw-form-test-complex button.add1
{
/* Safari  */ -webkit-transform: rotate(90deg);
/* Firefox */ -moz-transform:    rotate(90deg);
/* IE      */ -ms-transform:     rotate(90deg);
/* Opera   */ -o-transform:      rotate(90deg);
}
div.cpw-form-test-complex
{
	color: gray;
}
div.cpw-form-test-complex div.star
{
	padding: 2px;
}
div.cpw-form-test-complex div.star
{
	overflow:hidden;
	margin:2px;
}
div.cpw-form-test-complex div.star > div
{
	position: relative;
}
div.cpw-form-test-complex div.star > div:hover:after
{
	content: "";
	height: 10000px;
	display: block;
	position: absolute;
	top: -5000px;
	left: 0px;
	background-color: #f7f7f7;
	z-index: -2;
	width:100%;
}
div.cpw-form-test-complex div.pupil
{
	display: inline-block;
	padding: 3px;
}
div.cpw-form-test-complex div.pupil.header
{
	margin-left: 20px;
}
div.cpw-form-test-complex div.title1
{
	display: inline-block;
	width: 200px;
	margin-bottom:3px;
}
div.cpw-form-test-complex div.tcontainer
{
	padding-left:30px;
}
div.cpw-form-test-complex div.star table
{
	overflow:hidden;
	margin:1px;
}
div.cpw-form-test-complex div.star table input
{
	width: 100px;
}
div.cpw-form-test-complex div.star table tr.buttons td
{
	text-align:center;
}
div.cpw-form-test-complex div.star table tr.buttons td button
{
	width: 100%;
}
div.cpw-form-test-complex div.star table td
{
	padding: 2px;
	position: relative;
}
div.cpw-form-test-complex div.star table th.deletable::after
,div.cpw-form-test-complex div.star table tr.buttons td.deletable:hover:after
{
	content: "";
	height: 10000px;
	display: block;
	position: absolute;
	top: -5000px;
	left: 0px;
	background-color: #dddddd;
	z-index: -1;
	width:100%;
}
div.cpw-form-test-complex table.events input
{
	width: 500px;
}
div.cpw-form-test-complex table.events tr:hover
{
	background-color: #dddddd;
}
div.cpw-form-test-complex div[data-fc-type="array-empty"]
{
	padding-left: 5px;
	color: silver;
}
div.cpw-form-test-complex button.add
{
	margin-left: 5px;
}
</style>
<div class="cpw-form-test-complex">

	<div class="teacher">
		<div class="title1">классный руководитель:</div>
		<input type="text"value="<%= obj.txt('Куратор.Фамилия') %>" /> 
		<input type="text"value="<%= obj.txt('Куратор.Имя') %>" /> 
		<input type="text"value="<%= obj.txt('Куратор.Отчество') %>" />
	</div>

	<div class="teacher" <%= obj.with_attrs('Учитель.Математики') %>>
		<div class="title1">учитель математики:</div>
		<% obj.start_with() %>
			<input type="text"value="<%= obj.txt('Фамилия') %>" /> 
			<input type="text"value="<%= obj.txt('Имя') %>" /> 
			<input type="text"value="<%= obj.txt('Отчество') %>" />
		<% obj.end_with() %>
	</div>

	Звёздочки: 
	<div <%= obj.with_attrs('Звёздочки') %>>
	<%= obj.start_with() %>

		<div <%= obj.empty_attrs() %> >
			Список звёздочек пуст
			<button class="add star">добавить звёздочку</button>
		</div>

		<div <%= obj.not_empty_attrs() %> class="collection">
		<% while (obj.iterate()) { %>
			<div <%= obj.item_attrs() %> class="star">
			<div>
				<%= obj.item_position1() %>
					<% if (obj.is_seed()) { %>1<% } %>
				<%= obj.item_position1_end() %>) 
				звёздочка 
				<input type="text"value="<%= obj.txt('Название') %>" /> 
				<button class="delete_star">удалить звёздочку</button>

				<div <%= obj.with_attrs('Ученики') %>>
				<%= obj.start_with() %>
					<div <%= obj.empty_attrs() %> >Ученики не определены</div>
					<div class="tcontainer">
					<table>
						<tr <%= obj.not_empty_attrs() %> >
							<td>Фамилия</td>
							<% while (obj.iterate()) { %>
							<td <%= obj.item_attrs() %> class="deletable"><input type="text"value="<%= obj.txt('Фамилия') %>" /></td>
							<% } %>
							<td rowspan="5">
								<button class="add star vertical">
									д
									о
									б
									а
									в
									и
									т
									ь
								</button>
							</td>
						</tr>
						<tr <%= obj.not_empty_attrs() %> >
							<td>Имя</td>
							<% while (obj.iterate()) { %>
							<td <%= obj.item_attrs() %> class="deletable"><input type="text"value="<%= obj.txt('Имя') %>" /></td>
							<% } %>
						</tr>
						<tr <%= obj.not_empty_attrs() %> >
							<td>Отчество</td>
							<% while (obj.iterate()) { %>
							<td <%= obj.item_attrs() %> class="deletable"><input type="text"value="<%= obj.txt('Отчество') %>" /></td>
							<% } %>
						</tr>
						<tr <%= obj.not_empty_attrs() %> class="deletable">
							<td>Поведение</td>
							<% while (obj.iterate()) { %>
							<td <%= obj.item_attrs() %> ><input type="text"value="<%= obj.txt('За_поведение') %>" /></td>
							<% } %>
						</tr>
						<tr <%= obj.not_empty_attrs() %> class="buttons">
							<td></td>
							<% while (obj.iterate()) { %>
							<td <%= obj.item_attrs() %> class="deletable"><button>удалить</button></td>
							<% } %>
						</tr>
					</table>
					</div>
				<%= obj.end_with() %>
				</div>
			</div>
			</div>
		<% } %>
		</div>

	<%= obj.end_with() %>
	</div>

	Культурно-массовые мероприятия:
	<div <%= obj.with_attrs('Мероприятия') %>>
	<%= obj.start_with() %>
		<div <%= obj.empty_attrs() %> >Список культурно массовых мероприятий пуст</div>
		<table <%= obj.not_empty_attrs() %> class="events">
		<% while (obj.iterate()) { %>
			<tr <%= obj.item_attrs() %> class="deletable">
				<td>
					<%= obj.item_position1() %>
						<% if (obj.is_seed()) { %>1<% } %>
					<%= obj.item_position1_end() %>)
				</td>
				<td>
					<input type="text"value="<%= obj.txt('') %>" />
				</td>
				<td>
					<button>удалить</button>
				</td>
			</tr>
		<% } %>
		</table>
		<button>добавить культурно-массовое мероприятие</button>
	<%= obj.end_with() %>
	</div>

</div>