<style>
div.crowbar-test-fastened-containers
{
	width: 400px;
	margin: 0 auto;
}
</style>
<div class="crowbar-test-fastened-containers">
	<span>Сам:</span>
	<div class="simple self">
		<%= obj.fields_control('Сам') %>
	</div>
	<span>Шеф:</span>
	<div class="simple boss">
		<%= obj.control('Шеф') %>
	</div>
</div>