<style>
div.cpw-collection td { padding: 3px 10px; }
div.cpw-collection tr[data-fc-type="array-item"]:hover
{
	background-color: #eeeeee;
	cursor: pointer;
}
div.cpw-collection button.do_add { margin-left: 90px; }
</style>
<div class="cpw-collection">
	<button class="do_add">Добавить запись об ученике</button>
	<div <%= obj.empty_attrs() %> >
		Список пуст
	</div>
	<table <%= obj.not_empty_attrs() %> >
		<tr>
			<td>№</td>
			<td>ученик</td>
			<td>алгебра</td>
			<td>пение</td>
			<td></td>
		</tr>
		<% while (obj.iterate()) { %>
		<tr <%= obj.item_attrs() %>>
			<td>
				<%= obj.item_position1() %>
					<% if (obj.is_seed()) { %>1<% } %>
				<%= obj.item_position1_end() %>)
			</td>
			<td>
				<%= obj.text_field('Ученик') %>
					<% if (obj.is_seed()) { %>Иванов<% } %>
				<%= obj.text_field_end() %>
			</td>
			<td>
				<%= obj.text_field('Оценки.алгебра') %>
					<% if (obj.is_seed()) { %>2<% } %>
				<%= obj.text_field_end() %>
			</td>
			<td>
				<%= obj.text_field('Оценки.пение') %>
					<% if (obj.is_seed()) { %>2<% } %>
				<%= obj.text_field_end() %>
			</td>
			<td>
				<a href="#" class="do_delete">удалить</a>
			</td>
		</tr>
		<% } %>
	</table>
</div>
<%
var on_add= function(e)
{
	var simple= obj.options.c_simple();
	simple.SetFormContent({});
	var btnOk= 'Сохранить';
	obj.options.h_msgbox.ShowModal
	({
		  title:'Добавление записи'
		, controller: simple
		, width:400, height:270
		, buttons:[btnOk, 'Отмена']
		, onclose: function(btn)
		{
			if (btn==btnOk)
			{
				var fc_dom_item= $(obj.selector);
				var model= obj.fastening.get_fc_model_value(fc_dom_item);
				model.push(simple.GetFormContent());
				obj.fastening.set_fc_model_value(fc_dom_item, model);
				$(obj.selector).trigger('model_change');
			}
		}
	});
};
var on_edit= function(e)
{
	var i_item= obj.h_fastening_clip.get_parent_fc_of_type($(this),'array-item').attr('data-array-index');
	var fc_dom_item= $(obj.fastening.selector);
	var model= obj.fastening.get_fc_model_value(fc_dom_item);
	var simple= obj.options.c_simple();
	simple.SetFormContent(model[i_item]);
	var btnOk= 'Сохранить';
	obj.options.h_msgbox.ShowModal
	({
		  title:'Редактирование записи №' + (i_item+1)
		, controller: simple
		, width:400, height:270
		, buttons:[btnOk, 'Отмена']
		, onclose: function(btn)
		{
			if (btn==btnOk)
			{
				var fc_dom_item= $(obj.selector);
				var model= obj.fastening.get_fc_model_value(fc_dom_item);
				model[i_item]= simple.GetFormContent();
				obj.fastening.set_fc_model_value(fc_dom_item, model);
				$(obj.selector).trigger('model_change');
			}
		}
	});
};
var on_delete= function(e)
{
	var i_item= parseInt(obj.h_fastening_clip.get_parent_fc_of_type($(this),'array-item').attr('data-array-index'));
	var fc_dom_item= $(obj.fastening.selector);
	var model= obj.fastening.get_fc_model_value(fc_dom_item);
	var item= model[i_item];
	var btnOk= 'Да, удалить';
	obj.options.h_msgbox.ShowModal
	({
		  title:'Подтверждение удаления записи №' + (i_item+1)
		, html: 'Вы действительно хотите удалить запись №' + (i_item+1) + '<br/> об ученике <b>' + item.Ученик + '</b>?'
		, width:380, height:180
		, buttons:[btnOk, 'Нет, не удалять']
		, onclose: function(btn)
		{
			if (btn==btnOk)
			{
				model.splice(i_item,1);
				obj.fastening.set_fc_model_value(fc_dom_item, model);
				$(obj.selector).trigger('model_change');
			}
		}
	});
	return false;
};
obj.on_after_render= function()
{
	var sel= obj.selector;
	$(sel + ' .do_add').click(on_add);
	$(sel + ' .do_delete').click(on_delete);
	$(sel + ' [data-fc-type="array-item"]').click(on_edit);
};
obj.on_after_update_dom= function()
{
	var sel= obj.selector;
	var do_delete_items= $(sel + ' .do_delete');
	do_delete_items.off('click',on_delete);
	do_delete_items.click(on_delete);
	var do_edit_items= $(sel + ' [data-fc-type="array-item"]');
	do_edit_items.off('click',on_edit);
	do_edit_items.click(on_edit);
};
%>